
# Created by https://www.gitignore.io/api/c++,cmake,valgrind

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### CMake ###
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

### Valgrind ###
# Callgrind output files
callgrind.out
callgrind.out.*

# Cachegrind output files
cachegrind.out
cachegrind.out.*

# Massif output files
massif.out
massif.out.*

# BBV output files
bb.out
bb.out.*




# End of https://www.gitignore.io/api/c++,cmake,valgrind

cmake/
build/3DMultiplayerShooter
